<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Caffeine Lane{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        mont: ['Montserrat', 'sans-serif'],
                        bebas: ['Bebas Neue', 'sans-serif'],
                    },
                }
            }
        }
    </script>
</head>
<body>
    {% block header %}
    <header class="bg-black flex flex-col">
        <div class="flex items-center justify-center px-8 py-2">
            <p class="text-white font-bebas text-3xl ">THE CAFFEINE LANE</p>
        </div>
        <div class="flex items-center px-8 py-4">
        <a href="{% url 'home' %}" class="font-bebas text-2xl text-white hover:text-red-500 transition">TCL</a>
        <nav class="flex space-x-8">
            <a href="{% url 'home' %}" class="text-white font-mont font-bold uppercase hover:text-red-500 transition">Home</a>
            <a href="#" class="text-white font-mont font-bold uppercase hover:text-red-500 transition">Builds</a>
            <a href="#" class="text-white font-mont font-bold uppercase hover:text-red-500 transition">Harley</a>
            <a href="#" class="text-white font-mont font-bold uppercase hover:text-red-500 transition">Shop</a>
        </nav>
    </>
    </header>
    {% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
    <footer>
        <p>© 2024 The Caffeine Lane</p>
    </footer>
    {% endblock %}
</body>
</html>
