{% extends 'base.html' %} {# This line tells Django to inherit from base.html #}

{% block title %}Welcome to The Caffeine Lane{% endblock %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
    <div class="bg-black flex flex-col items-center justify-center min-h-screen">
        <h1 class="font-bebas text-7xl mb-8 text-white tracking-wide ">THE CAFFEINE LANE</h1>
        <a href="{% url 'home' %}" class="bg-white text-black hover:bg-red-600 hover:text-white font-mont font-bold py-2 px-5 rounded-full shadow-lg text-xl transition duration-300 ease-in-out transform hover:scale-105">
            Join us
        </a>
    </div>
{% endblock %}
